{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" ng-app="Grifo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'Grifo' %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Main CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'libs/html5shiv/html5shiv.min.js' %}"></script>
      <script src="{% static 'libs/respond/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a class="brand" ng-href="#/">Grifo</a>
        </div>
        <div class="col-md-8">
            <a class="btn btn-success btn-sm btn-addsnippet pull-right" ng-href="#/snippets/new">Add Snippet</a>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>

<!-- jQuery  -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- AngularJS  -->
<script src="{% static 'libs/angular/angular.min.js' %}"></script>
<!-- AngularJS Route  -->
<script src="{% static 'libs/angular-route/angular-route.min.js' %}"></script>
<!-- AngularJS Resource  -->
<script src="{% static 'libs/angular-resource/angular-resource.min.js' %}"></script>


<!-- App  -->
<script src="{% static 'grifo/App.js' %}"></script>

<!-- Directives -->

<!-- Services  -->
<script src="{% static 'grifo/snippets/services/Snippet.js' %}"></script>
<script src="{% static 'grifo/snippets/services/SnippetCategory.js' %}"></script>

<!-- Controllers  -->
<script src="{% static 'grifo/snippets/controllers/SnippetsController.js' %}"></script>
<script src="{% static 'grifo/snippets/controllers/SnippetsCreateController.js' %}"></script>
<script src="{% static 'grifo/snippets/controllers/SnippetsEditController.js' %}"></script>
<script src="{% static 'grifo/snippets/controllers/SnippetsShowController.js' %}"></script>

<!-- Routes  -->
<script src="{% static 'grifo/Routes.js' %}"></script>

</body>
</html>